.GazCard {
    margin: 0;
    width: 100%;
}
.GazCard--hover {
    transition: background-color 0.3s;
    cursor: pointer;
}
.GazCard--gray {
  background-color: var(--gray-4);
}
.GazCard--gray--hover:hover {
  background-color: var(--gray-6);
}

.GazCard--gray-light {
  background-color: var(--gray-3);
}
.GazCard--gray-light--hover:hover {
    background-color: var(--gray-5);
}

.GazCard--gray-medium {
    background-color: var(--gray-4);
}
.GazCard--gray-medium--hover:hover {
    background-color: var(--gray-6);
}

.GazCard--gray-dark {
    background-color: var(--gray-6);
}
.GazCard--gray-dark--hover:hover {
    background-color: var(--gray-8);
}

.GazCard--gold {
    background-color: var(--gold-3);
}
.GazCard--gold--hover:hover {
    background-color: var(--gold-5);
}

.GazCard--bronze {
    background-color: var(--bronze-3);
}
.GazCard--bronze--hover:hover {
    background-color: var(--bronze-5);
}

.GazCard--brown {
    background-color: var(--brown-3);
}
.GazCard--brown--hover:hover {
    background-color: var(--brown-5);
}

.GazCard--yellow {
    background-color: var(--yellow-3);
}
.GazCard--yellow--hover:hover {
    background-color: var(--yellow-5);
}

.GazCard--amber {
    background-color: var(--amber-3);
}
.GazCard--amber--hover:hover {
    background-color: var(--amber-5);
}

.GazCard--orange {
    background-color: var(--orange-3);
}
.GazCard--orange--hover:hover {
    background-color: var(--orange-5);
}

.GazCard--tomato {
    background-color: var(--tomato-3);
}
.GazCard--tomato--hover:hover {
    background-color: var(--tomato-5);
}

.GazCard--red {
    background-color: var(--red-3);
}
.GazCard--red--hover:hover {
    background-color: var(--red-5);
}

.GazCard--ruby {
    background-color: var(--ruby-3);
}
.GazCard--ruby--hover:hover {
    background-color: var(--ruby-5);
}

.GazCard--crimson {
    background-color: var(--crimson-3);
}
.GazCard--crimson--hover:hover {
    background-color: var(--crimson-5);
}

.GazCard--pink {
    background-color: var(--pink-3);
}
.GazCard--pink--hover:hover {
    background-color: var(--pink-5);
}

.GazCard--plum {
    background-color: var(--plum-3);
}
.GazCard--plum--hover:hover {
    background-color: var(--plum-5);
}

.GazCard--purple {
    background-color: var(--purple-3);
}
.GazCard--purple--hover:hover {
    background-color: var(--purple-5);
}

.GazCard--violet {
    background-color: var(--violet-3);
}
.GazCard--violet--hover:hover {
    background-color: var(--violet-5);
}

.GazCard--lavender {
    background-color: var(--lavender-3);
}
.GazCard--iris--hover:hover {
    background-color: var(--iris-5);
}

.GazCard--indigo {
    background-color: var(--indigo-3);
}
.GazCard--indigo--hover:hover {
    background-color: var(--indigo-5);
}

.GazCard--blue {
    background-color: var(--blue-3);
}
.GazCard--blue--hover:hover {
    background-color: var(--blue-5);
}

.GazCard--sky {
    background-color: var(--sky-3);
}
.GazCard--sky--hover:hover {
    background-color: var(--sky-5);
}

.GazCard--cyan {
    background-color: var(--cyan-3);
}
.GazCard--cyan--hover:hover {
    background-color: var(--cyan-5);
}

.GazCard--teal {
    background-color: var(--teal-3);
}
.GazCard--teal--hover:hover {
    background-color: var(--teal-5);
}

.GazCard--jade {
    background-color: var(--mint-3);
}
.GazCard--jade--hover:hover {
    background-color: var(--jade-5);
}

.GazCard--green {
    background-color: var(--green-3);
}
.GazCard--green--hover:hover {
    background-color: var(--green-5);
}

.GazCard--grass {
    background-color: var(--grass-3);
}
.GazCard--grass--hover:hover {
    background-color: var(--grass-5);
}

.GazCard--sage {
    background-color: var(--sage-3);
}
.GazCard--sage--hover:hover {
    background-color: var(--sage-5);
}

.GazCard--olive {
    background-color: var(--olive-3);
}
.GazCard--olive--hover:hover {
    background-color: var(--olive-5);
}

.GazCard--sand {
    background-color: var(--sand-3);
}
.GazCard--sand--hover:hover {
    background-color: var(--sand-5);
}

.GazCard--slate {
    background-color: var(--slate-3);
}
.GazCard--slate--hover:hover {
    background-color: var(--slate-5);
}

.GazCard--mauve {
    background-color: var(--navy-3);
}
.GazCard--mauve--hover:hover {
    background-color: var(--mauve-5);
}